:root {
  /* enter variables here */
  --white: #ffffff;
  --radius: 14px;
}

* {
  box-sizing: border-box;
}

header {
  background-color: royalblue;
  border-radius: var(--radius);
  margin-bottom: 10px;
}

.container {
  padding: 16px;
  justify-content: space-between;
}

.row {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logo {
  margin: auto;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(36px, 2vw, 48px);
  font-weight: bolder;
  color: white;
  cursor: pointer;
}

body {
  background-color: beige;
}

.hero-section {
  background-color: whitesmoke;
  border-radius: var(--radius);
  border: 3px solid royalblue;
  text-align: center;
  padding: 16px;
  padding-top: 48px;
  padding-bottom: 48px;
}

.hero-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(36px, 2vw, 48px);
  font-weight: bolder;
  color: darkslateblue;
}

.footer-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(10px, 2vw, 12px);
  font-style: italic;
  color: gray;
  text-align: center;
}
