:root {
  --background1: #eef4ed;
  --foreground1: #134074;
  --foreground2: #13315C;
  --foreground3: #0B2545;
  --radius: 12px;
  --gap: 14px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: sans-serif;
  background: var(--bg);
  color: var(--txt);
  display: grid;
  grid-template-rows: 1fr auto;
}

footer {
  background: var(--foreground1);
  color: var(--background1);
  text-align: center;
}

img {
  border-radius: var(--radius);
  width: 50%;
  height: auto;
  float: right;
}

/* TODO: add css styling for unordered lists */

.container {
  background: var(--foreground1);
  margin-inline: auto;
  padding: 14px;
  justify-content: space-between;
}

.row {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.brand {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: var(--background1);
  display: flex;
  align-items: center;
  gap: 10px;
}

.title {
  font-size: clamp(24px, 2vw, 36px);
  cursor: pointer;
}

.title.secondary {
  font-family: "Merriweather:bi";
  font-size: clamp(48px, 2vw, 56px);
  color: var(--foreground1);
}

.hero {
  font-family: "Merriweather", sans-serif;
  font-weight: bold;
  margin: auto;
  text-align: center;
  width: 50%;
  padding-top: 2px;
}

.hero.btn {
  padding-top: 24px;
}

.btn {
  appearance: none;
  border: none;
  color: #08111f;
  font-weight: 700;
  padding: 10px 14px;
  border: 12px;
  cursor: pointer;
  border-radius: var(--radius);
}
